
.projects .row{
    justify-content: center;
}
.projects h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.projects .card{
    border: white;
    overflow: hidden;
    border-radius: 30px;
}
.projects .card a{
    text-decoration: none;
    color: black;
   
}
.card-link{
    font-size: 15px;
    font-weight: 900;
}
.projects .card-text{
    color: black;
    font-size: 14px;
    text-align: start;
}
.projects .card:hover{
    transform: scale(1.05);
    transition: .5s;
    border: 2px solid  #ab00fa;
    box-shadow: 3px 3px 15px #ab00fa;
}
.projects .card img:hover{
        transform: scale(1.2);
        transition: .5s;
}