
.my-skills{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-btm h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.skill-btm{
    background-color: grey;
    border-radius: 50%;
    width: 150px !important;
    height: 150px !important;
    /* height: 130px; */
    align-content: center;

}